body{
    background-color: #d1bfa7;
    margin:0;
}

.button {
        position: relative;
        background-color: #cfad9f;
        border: none;
        font-size: 20px;
        color: #e9e9e9;
        padding: 10px;
        width: 110px;
        text-align: center;
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
      }
      
      .button:after {
        content: "";
        background: #f1f1f1;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px !important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.5s
      }
      
      .button:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
      }

      h4 {
        font-family: 'Vidaloka', serif;
        text-align: center;
      }

      h1{
        text-align: center;
        font-family: 'Vidaloka', serif;
      }

      img {
        height: 300px;
        width: 300px;
        display: block;
  margin-left: auto;
  margin-right: auto;

      }


      #button1 {
        position: relative;
        background-color: #a3a3a3;
        border: none;
        font-size: 17px;
        color: #e9e9e9;
        padding: 10px;
        width: 170px;
        height: 50px;
        text-align: center;
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
      }
      #button2 {
        position: relative;
        background-color: #a3a3a3;
        border: none;
        font-size: 17px;
        color: #e9e9e9;
        padding: 10px;
        width: 330px;
        height: 50px;
        text-align: center;
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
      }


/* HERE STARTS THE JAVAHOME PAGE */




/* Sticky nav :start */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #707070;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px 80px;
  text-decoration: none;
}

li a:hover {
  background-color: #868686;
  color:whitesmoke;
}


/* sticky nav: end */